$main-color: skyblue;

body {
  background-color: $main-color;
}


.post-list {
  &__login-btn {
    .root--authed & {
      // root--authed 밑에 있을 때
      display: none;
    }
  }

  &__logout-btn {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }    
}